= form_tag(client_path(client), method: :get, data: { behavior: "order-state-select" }) do 
  = select_tag :search, options_for_select(Order::STATES), prompt: "Filter by state", class: "ui fluid dropdown"