| $('#{ j render "new" }').modal({
|   onHidden: function() {
|     $('body .modals').remove();
|   },
|   onApprove: function(){
|     $(this).find("form").submit();
|     return false;
|   }
| }).modal('show');